* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    list-style: none;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    border: none;
}

/* Utility Classes */
#logo {
    width: 100px;
}

.button-main {
    background: #1DB954;
    color: white;
    text-transform: uppercase;
    padding: 15px 60px;
    border: none;
    border-radius: 30px;
    letter-spacing: 2px;
    font-weight: bold;
}

header {
    background-color: rgba(0, 0, 0, 0.562);
    padding: 5px 10px;
    position: fixed;
    top: 0;
    width: 100%;
}

#logo-header {
    margin-left: 50px;
}

main {
    background-image: url(../img/showcase.webp);
    height: 100vh; 
    background-color: rgba(0, 0, 0, 0.432);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-blend-mode: color;
}

#container {
    max-width: 95%;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    display: flex;
}

.hamburguer-menu {
    margin-right: 40px;
    position: relative;
}

.navbar-desktop {
    display: none;
}

.hamburguer-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  border-radius: 0px 0px 3px 3px;
  position: absolute;
  top: 45px;
  right: 0;
  background: rgba(0, 0, 0, 0.466);
  border-top: 1px solid white;
  overflow: hidden;
  height: 0;
  opacity: 0;
  transition: height 0.7s ease-in-out, opacity 0.7s ease-in-out;
  user-select: none;
}

.options-space {
    padding: 15px;
}

.options-spaceb {
    margin-top: 15px;
    margin-bottom: 15px;
    padding-right: 15px;
    border-right: 1px solid;
}

.active {
    height: 245px;
    opacity: 1;
    visibility: visible;
}

#showcase {
    height: 100vh;
    width: 80vw;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.showcase-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.showcase-container h2 {
    font-size: 2.5rem;
    padding: 4px;
}

.showcase-container p {
    margin: 25px;
    font-size: 0.7rem;
}

footer {
    background: black;
    color: white;
}

.footer-container {
    width: 90vw;
    margin: 0 auto;
    display: flex;
    padding-top: 50px;
    flex-direction: column;
}

.logo-footer {
    margin-left: 60px;
}

.footer-menu {
    margin: 40px 60px;
}

.footer-menu h3 {
    font-weight: bold;
    font-size: small;
    color: #919496;
}

.footer-menu-items {
    padding: 15px 0;
}

.socials {
    display: flex;
    margin: 10px 60px;
}

@media only screen and (min-width: 1200px) {
    #container {
        max-width: 60%;
        margin: 0 auto;
        align-items: center;
        justify-content: space-between;
        display: flex;
    }
    .hamburguer-menu {
        display: none; /* Oculta o menu hamburguer quando a largura da tela é maior que 1200px */
    }

    .navbar-desktop {
        display: flex !important; /* Exibe o menu desktop quando a largura da tela é maior que 1200px */
    }

    .showcase-container h2 {
        font-size: 5rem; /* Ou o valor desejado */
    }

    .showcase-container p {
        font-size: 1rem;
    }

    .footer-container {
        width: 60vw;
        margin: 0 auto;
        display: flex;
        padding-top: 50px;
        flex-direction: row;
    }
    
    .logo-footer {
        margin-left: 10px;
    }
    
    .footer-menu {
        margin: 10px 5%;
    }
    
    .footer-menu h3 {
        font-weight: bold;
        font-size: small;
        color: #919496;
    }
    
    .footer-menu-items {
        padding: 15px 0;
    }
}